# Virtuelle Umgebung ignorieren
scan2bim_env/
venv/
env/

# Python Cache und Kompilierte Dateien
__pycache__/
*.pyc

# Installations-Artefakte (durch pip install -e .)
*.egg-info/
dist/
build/

# IDE Einstellungen (falls vorhanden)
.vscode/
.idea/

installers/
*.exe